# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
dist/
dist-ssr/

# Go
agent/agent
*.exe

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Docker
docker-compose.override.yml